* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

canvas {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}